// _variables.scss

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$light-colors: (
  bg:        #FCFCFC,
  text:      #171717,
  primary:   #25282C,
  secondary: #EDEDED,
  accent:    #00AAB3,
  reverse-accent: #4DF6FF,
  shadow:    #d1cdcd,
  opaque-border: #25282c3f
);

$dark-colors: (
  bg:        #171717,
  text:      #FCFCFC,
  primary:   #EDEDED,
  secondary: #25282C,
  accent:    #4DF6FF,
  reverse-accent: #00AAB3,
  shadow:    #070808,
  opaque-border: #ededed3a
);