/* Layout */

.mobileMenuWrapper {
  position: absolute;
  top: 100px;
  left: 15px;
  background-color: var(--background);
  transform: translateY(-125%);
  transition: transform 0.5s ease;
  z-index: 20;
}
.mobileMenuWrapper.active {
  transform: translateY(0);
}

.layout {
  position: relative;

  header {
    position: sticky;
    top: 0;
    height: 75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    box-shadow: 2px 2px 8px var(--shadow-color);
    background-color: var(--bg-color);
    z-index: 50;

    .logo {
      font-family: logo-font;
      font-size: 20px;
      color: var(--accent-color);
    }

    > nav {
      display: none;
      ul {
        list-style: none;
        display: flex;
        gap: 15px;
        font-family: sub-header-font;
      }
    }

    .icons {
      display: flex;
      align-items: center;
      gap: 5px;

      > :nth-child(2) {
        margin-top: 5px;
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 15px;
    padding: 25px;
    .logo {
      font-family: logo-font;
      font-size: 25px;
      color: var(--accent-color);
    }
    .icons {
      display: flex;
      align-items: center;
      gap: 15px;
      a {
        height: 35px;
        width: 35px;
        border: 1px solid var(--primary-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12.5px;
        transition: 0.25s ease;
        &:hover {
          background-color: var(--primary-color);
          color: var(--accent-color);
          transform: scale(1.2);
        }
      }
    }
    hr {
      width: 100%;
      border-radius: 5px;
      border: 1px solid var(--accent-color);
      opacity: 0.75;
    }
    .copyright {
      font-family: body-font;
      padding: 0 50px;
      a {
        color: var(--accent-color);
      }
    }
  }
}

@include respond-between(sm, highest) {
  .layout {
    header {
      padding: 0 7.5%;

      > nav {
        display: block;
      }

      .icons {
        > :nth-child(2) {
          display: none;
        }
      }
    }

    footer {
      hr {
        width: 75%;
      }
    }
  }
}

@include respond-between(lg, highest) {
  .layout {
    header {
      padding: 0 5%;
    }

    footer {
      hr {
        width: 50%;
      }
    }
  }
}
