// Home page

.home {
  padding: 50px 10%;
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(1fr, 1);
    grid-auto-rows: 250px;
    gap: 25px;

    .grid {
      .wrapper {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@include respond(md) {
  .home {
    padding: 75px 7.5%;
    .gridContainer {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 300px;
      .grid1,
      .grid8 {
        grid-column: span 2;
      }
    }
  }
}

@include respond(lg) {
  .home {
    padding: 100px 5%;
    .gridContainer {
      grid-template-columns: repeat(4, 1fr);
      .grid1,
      .grid4,
      .grid7,
      .grid8 {
        grid-column: span 2;
      }
    }
  }
}
